$group-header-font-weight: 600;
$group-separator: solid 2px $color-gray-400 !default;

.group {
  border-bottom: $group-separator;
}

.group__header {
  padding: $spacing-base;
  font-weight: $group-header-font-weight;
}

.group__content {
  padding: $spacing-base;

  > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  > * + * {
    margin-top: $spacing-base;
  }
}
