{
  "eslintConfig": {
    "extends": ["react-app", "shared-config"],
    "rules": {
      "additional-rule": "warn",
      "no-unused-vars": [
        1,
        {
          "varsIgnorePattern": "(K|T|Model)"
        }
      ]
    }
  }
}
