.colorPalette {
  border: dashed 1px #00f;
}

.colorPalette__colorList {
  border: dashed 1px #f00;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 2rem;
}

.colorPalette__colorButton {
  border: solid 2px #f00;
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
}
