.formField {
  &--field {
    border: dashed 1px #f00;
  }

  &--range {
    border: solid 1px #f00;
  }

  &--checkbox {
    border: dotted 1px #f00;

    label {
      display: grid;
      grid-template-columns: 2rem auto;
    }
  }
}
