@import 'variables';

input[type='range'] {
  border: solid 1px #f00;
  // appearance: none;

  // &::-webkit-slider-runnable-track {
  //   // appearance: none;
  //   width: 300px;
  //   height: 5px;
  //   background: #ddd;
  //   border: none;
  //   border-radius: 3px;
  // }

  &::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -6px;
  }
}
