$font-family-base: 'IBM Plex Mono', 'Work Sans', sans-serif;
$font-weight-base: 400;
$font-size-base: 16px;

//

* {
  box-sizing: border-box;
}

html,
body,
button,
input {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
}

.relative-pos {
  position: relative;
}
