$font-family-base: 'Work Sans', sans-serif;

$font-weight-base: 400;

$font-size-base: 16px;

html,
body {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
}
