@import 'styles/_index';

//

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html,
body,
button,
input {
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
}

.relative-pos {
  position: relative;
}
